body{
    margin: auto;
    font-family: sans-serif;
    text-align: center;
    background-color: antiquewhite;
}
.whole{
    background-color:darkgrey;
    padding: 0px;
}
header{
    background-image: url(SG-logos.jpeg);
    background-repeat: no-repeat;
    background-size: auto 80%;
    padding: .5em 0 .5em 5.5em ;
    background-color: #33AFFF;
    color: #ECEFEF;
    
}
nav{
    background-color:whitesmoke;
    text-align: center;
    height: 23px;
    padding-top:5px;
   
}
nav a {
    color: black; 
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;  
    padding-left: 2px; 
    padding-right:2px;
}
.left img{
    width: 80%;
    padding: 2px;
}
.info{
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.desc{
    font-size: small;
    padding-left: 3px;
    padding-right: 3px;
}
.right img {
 display: none;
}
.start{
    font-weight:bold;
    font-style: italic;
}
.main{
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}


span{
    font-weight: bold;
    font-style: normal;
}
footer{
    background-color:whitesmoke; 
}

@media (min-width:600px)
{
    header{
        background-image: url(logo-png.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        padding: .5em 0 .5em 5.5em;
        background-color: #33AFFF;
        color: #ECEFEF;  
    }
    nav{
        height: 30px;
        padding-top: 10px;
    }
    nav a {
        padding-left: 15px;
        padding-right: 15px; 
        font-size: 16px;          
    }
    .left{
        width: 25%;
        float: left;
        padding: none;
        height: 400px;      
    }
    .left img{
        width: 100%;
        padding: 0px;
    }
    .desc{   
        text-align: left; 
    } 
    .right{
        width: 75%;
        float: right;
        text-align: center;
        height: 400px;
    }
    .right img {
        display: block;
    }
}
@media (min-width:1024px){
    body{   
        width: 980px;    
    }
    .intro{
        font-size:20px;   
    }
    
    
}
