<!DOCTYPE html>
<html>
    <head>
        <title>
            Sudip-Portfolio
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/design.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
    <div class="whole">
        <%-include('partial/Top')%>
        <img src="/Img/Banner.jpg" width="100%" height="400px">
        <P class="intro"><span class="start">"Your mind is everthing, you become what you think"</span>- Buddha</P>               
         <div class="main">
            <P>
                Welcome to my digital space! Explore my world of creativity and innovation as I showcase my work and experiences. Feel free to browse around, and don't hesitate to get in touch. Let's connect and create together!
            </P>
            <P>
                Feel free to explore the work I've done. Whether you're here for inspiration, collaboration, or just to browse, I'm here to help. Don't hesitate to reach out. Let's embark on this exciting journey together!
            </P>
            <p>
                Click <a href="/Contact">here</a> to learn more about me.
            </p>
         </div>
         <%-include('partial/Foot')%>
    </div>
    </body>
    
</html>