<!DOCTYPE html>
<html>
    <head>
        <title>
            Sudip-Portfolio
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="demo.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
    <div class="whole">
        <header>
            <h1>Personal Portfolio-Sudip Ghimire</h1>
        </header>
        <div class="right">
        <nav>
            <a href="/">Home</a>
            <a href="/aboutme">About me</a>
            <a href="Contact.html">Contact</a>
            <a href="Sitemap.html">Sitemap</a>
            <a href="/contact">Projects</a>
        </nav>
        <img src="Banner.jpg" width="100%" height="300px">
        <P class="intro"><span class="start">"Your mind is everthing, you become what you think"</span>- Buddha</P>      
        </div>         
         <div class="left">
                <img src="Owner.png" width="100%">
                <div class="info">
                    Mr.Sudip Ghimire
                </div>
                <div class="desc">
                Sudip Gimire is a Student,innovator and influencer in the worlds of programming, technology, leardership, philanthropy and many more things to come. Born in Rasuwa, Nepal, Sudip is well known in tech world for excellent service and wonderful deals. One of the most admired and loved, Sudip has been achieving positive results beacuse of his work ethics and strategies. 
                </div>
        </div>        
         <div class="main">
            <P>Integer fringilla metus ex. Integer at hendrerit ipsum, sed efficitur nunc. Pellentesque et commodo libero, ultricies dapibus metus. Vivamus ut efficitur lorem. Maecenas iaculis congue nisi, eget rutrum nulla luctus eget. Donec pharetra mauris vitae facilisis rutrum. Mauris lacinia, ex eget sollicitudin lobortis, lacus augue vulputate magna, a dictum odio dolor ut neque.

                Duis tincidunt aliquet sapien id condimentum. Fusce blandit quis nibh consequat venenatis. Nam commodo ut tortor in molestie. Etiam mollis mi at orci fermentum pretium. Sed in auctor nisl. In in augue id mi dignissim mattis. Vestibulum convallis sem at elit auctor faucibus. Vestibulum quis lacus id lacus iaculis porta. Cras pharetra convallis magna. Nulla et orci consequat, dictum justo in, interdum mauris. Fusce vitae nibh a arcu pretium hendrerit nec quis nunc.
                
                Donec at lacus nec quam hendrerit vulputate. Sed consectetur luctus malesuada. Suspendisse finibus eros in lorem iaculis ultricies id in mauris. Cras lacinia finibus ultrices. Morbi dui turpis, porttitor in iaculis ac, congue quis mi. Suspendisse consectetur ligula a neque dapibus scelerisque. Aenean ullamcorper erat et lacus volutpat, ornare pulvinar nulla lacinia. Nam pretium nulla ipsum, vel interdum massa malesuada id. Phasellus eu ornare metus, ac maximus turpis. Etiam nec congue tortor, at vehicula ex. Ut quis luctus felis. Mauris sed mauris et metus fermentum finibus.
                
                Fusce scelerisque nunc ac sapien posuere, sed accumsan risus rutrum. Curabitur posuere risus a orci vulputate imperdiet. Quisque non nisi nibh. Duis nec purus vel purus convallis sollicitudin. Curabitur congue mauris non sem varius, sed placerat nisi scelerisque. Donec a pharetra neque. Vestibulum molestie tincidunt dui, faucibus condimentum ipsum condimentum quis. Fusce sed ligula velit. Phasellus pellentesque, tellus a faucibus finibus, metus risus pellentesque mauris, id bibendum quam ex auctor orci.</P>
         </div>
         <footer>
            <p>Copyright &copy; Sudip Ghimire-301310055, Centennial College</p>
         </footer>
    </div>
    </body>
    
</html>