<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ='stylesheet' href="/design.css" type="text/css">
    <title>Projects-Sudip Ghimire</title>
</head>
<body>
     <div class="whole">
        <%-include('partial/top')%>
        <h2 class="top_h2">Projects Managed</h2>
        <h3 class="proj_header">E-commerce Website Development</h2>
        <div class="Proj_desc">
            <img src="/Img/Project1.png">
            <p>I served as the lead frontend developer in a team of five. My responsibilities included designing and implementing the user interface, optimizing website performance, and ensuring cross-browser compatibility.
            </p>
            <p>
            The e-commerce website was successfully launched and experienced a 30% increase in conversion rates compared to the previous version. The improved user experience and responsive design contributed to higher customer satisfaction and increased revenue</p>           
            </div>  
            <h3 class="proj_header">Data Analytics Platform</h3>
        <div class="Proj_desc">
            <img src="/Img/Project2.png">
            <p>I led a team of data scientists and engineers as a project manager. My responsibilities included defining project goals, creating a project plan, coordinating the development of data processing pipelines, and overseeing the integration of machine learning models.</p>
            <p>The data analytics platform enabled our client to gain valuable insights from their data, leading to data-driven decision-making and improved business strategies. The platform was able to process and analyze large volumes of data efficiently, reducing analysis time from weeks to hours and providing actionable insights
            </p>
            </div>
            <h3 class="proj_header">Mobile App for Health Tracking</h3>
        <div class="Proj_desc">
            <img src="/Img/project3.png"></a>
        
            <P> As a mobile app developer, I played a key role in developing a health-tracking mobile application. I worked on both the Android and iOS versions of the app, implementing features like data input, real-time monitoring, and generating health reports</P>
            <P>
                The health-tracking app gained popularity among users looking to monitor their fitness and wellness. It received high ratings on app stores and attracted a large user base. Users reported improved health awareness and lifestyle choices, leading to a positive impact on their overall well-being.
            </P>
            </div> 

        
        <%-include('partial/Foot')%>
     </div>
     
    
</body>
</html>