<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ='stylesheet' href="/design.css" type="text/css">
    <title>Projects-Sudip Ghimire</title>
</head>
<body>
     <div class="whole">

        <!-- Include a partial named 'Top' -->
        <%-include('partial/top')%>
        <!--The main header for the project page-->
        <h2 class="top_h2">Projects Managed</h2>

        <!--Listing the projects using appropriate photos and descriptions -->
        <h3 class="proj_header">Interactive Slideshow</h2>
        <div class="Proj_desc">
            <img src="/Img/Project1.png">
            
            <!--The Description of the project and referring to a link which redirects the application to the project-->
            <p>In my second-semester, I created an engaging and interactive slideshow that seamlessly guides users through a visual journey. Leveraging a combination of HTML, CSS, and JavaScript, the slideshow offers a dynamic experience, allowing viewers to effortlessly navigate content, view captivating images, and access additional information at their own pace. This project showcases my proficiency in front-end web development and user experience design, offering an aesthetically pleasing and user-friendly way to present information and captivate audiences. Click <a href="http://studentweb.cencol.ca/sghimi16/Docs/Slideshow/Home.html">here</a> to view the main project.
            </p>     
            </div> 
            
            
            <h3 class="proj_header">Multiplication Table</h3>
        <div class="Proj_desc">
            <img src="/Img/Project2.png">

             <!--The Description of the project and referring to a link which redirects the application to the project-->
            <p>In my multiplication table project, I developed a practical and educational tool for mastering multiplication skills. Using programming languages like JavaScript and HTML, I created an interactive web application that generates multiplication tables on-demand. Users can select the range and factors they want to practice, and the program displays the corresponding table. This project not only demonstrates my coding abilities but also showcases my commitment to creating valuable and accessible educational resources for learners of all ages. Click <a href="http://studentweb.cencol.ca/sghimi16/Docs/Multiplication%20Table/assignment1.html" >here</a> to view the main project.</p>
            </div>


            <h3 class="proj_header">Course Evaluation Form</h3>
        <div class="Proj_desc">
            <img src="/Img/project3.png"></a>
        
             <!--The Description of the project and referring to a link which redirects the application to the project-->
            <P> My course evaluation form project is designed to gather valuable feedback from students about their learning experience. Through a user-friendly web interface, students can provide anonymous assessments of the course content, instructor effectiveness, and overall satisfaction. The form is tailored to capture specific insights, enabling Centennial College to make data-driven improvements. This project reflects my commitment to enhancing educational experiences by leveraging web-based tools to collect and analyze feedback effectively. Click <a href="http://studentweb.cencol.ca/sghimi16/Docs/Evaluation%20Form/Form.html">here</a> to view the main project</P>
            
            </div> 

        <!-- Include a partial named 'Foot' -->
        <%-include('partial/Foot')%>
     </div>
     
    
</body>
</html>