<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services-Sudip Ghimire</title>
    <link rel="stylesheet" href="/other files/design.css" type="text/css">
</head>
<body>
    <div class="whole">
        <!-- Including the 'Top' partial, which typically contains a navigation header -->
        <%-include('Partial/top')%>
        
        <!-- Page heading -->
        <h2 class="top_h2">What I offer</h2>
        
        <!-- Web Development section -->
        <h3 class="proj_header">Web Development</h3>
        <div class="services_desc">
            <img src="/Img/Service1.jpg">
            <p> I specialize in creating dynamic and visually appealing websites using HTML, CSS, and JavaScript</p>
        </div>
        
        <!-- Java Application Development section -->
        <h3 class="proj_header">Java Application Development</h3>
        <div class="services_desc">
            <img src="/Img/Service2.jpg">
            <p>I have expertise in Java for building robust and scalable desktop and web applications.</p>
        </div>
        
        <!-- C# Software Development section -->
        <h3 class ="proj_header">C# Software Development</h3>
        <div class="services_desc">
            <img src="/Img/Service3.png">
            <p>I'm proficient in C# and can create Windows applications, web services, and games with this language.</p>
        </div>
        
        <!-- React Web Application Development section -->
        <h3 class="proj_header">React Web Application Development</h3>
        <div class="services_desc">
            <img src="/Img/Service4.png">
            <p>I excel in using the React library to build dynamic and responsive user interfaces for web applications</p>
        </div>
        
        <!-- Contact CTA (Call to Action) -->
        <div class="services-CTA">
            <p>Ready to discuss your project or have questions? Feel free to contact me <a href="/Contact">here</a> for a personalized consultation.</p>
        </div>
        
        <!-- Including the 'Foot' partial, which typically contains footer information -->
        <%-include('Partial/foot')%>
    </div>
</body>
</html>
