<header>
    <h1>Personal Portfolio-Sudip Ghimire</h1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/Projects">Projects</a>
    <a href="/aboutme">About me</a>
    <a href="/Contact">Contact</a>
    <a href="Sitemap.html">Services</a>
    
</nav>